<ul>
    <h3><%- apiData.name %></h3>
    <%- apiData.description %>
    </ul>
<ul>
<% if(currentUser) { %>
    <form action="/workouts" method="post">
        <input type="hidden" name="name" value="<%= apiData.name %>">
        <input type="hidden" name="apiId" value="<%= apiId %>">
    <input type="submit" value="Add to Favorites">
    </form>
<% } else { %>
    <a href="/auth/login">Login to add to favorites</a>
<% } %>
</ul>