<!-- <header>GitFit</header>
<h3>Get ripped or die tryin'</h3> -->

<% exercises.forEach(exercise => { %>
    <p>
        <a href="/workouts/api/<%= exercise.id %>">
            <%= exercise.name %>
        </a>
    </p>    
<% }) %>