<h1>GitFit</h1>
<h2>Get ripped or die tryin'</h2>

<p>What are you training?</p>
<form action="/searchResults" method="GET">

    <input type="text" name="search" id="search" placeholder="Legs, Back, Arms, Etc...">
    
    <input type="submit" value="Search">
</form>